version: '3.8'
services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: demo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/demo
      DB_USERNAME: postgres
      DB_PASSWORD: 12345
      CORS_ALLOWED_ORIGINS: http://localhost:4200
    ports:
      - "9090:8080"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data:
