@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f8f9fa;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
}
