<h2>Users</h2>
<div *ngIf="isUsersLoaded">
  <div class="text-end mb-3">
    <button mat-flat-button color="primary" routerLink="/user/new">Add New User</button>
  </div>

  <h5>{{users.length}} Users</h5>
  <mat-card class="post-card" *ngFor="let user of users; let i = index">
    <mat-card-header>
      <mat-card-title>{{user.firstname}}</mat-card-title>
      <mat-card-subtitle>{{user.lastname}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>User email: {{user.email}}</p>
      <p>User password: {{user.password}}</p>
      <p>Username: {{user.username}}</p>
      <p>User bio: {{user.bio}}</p>
    </mat-card-content>
  </mat-card>
</div>
